.navbar {
    background-color: white;
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100%;

    box-shadow: 0px 0px 10px rgb(200, 200, 200);
    align-items: center;
}

button {
    border-radius: 5px;
    border: none;
    background-color: blanchedalmond;
    box-shadow: 0px 0px 5px 1px black;
}

.authentication--buttons button {
    margin: 10px;
}

.search--bar input {
    width: 50em;
    border-width: 3px;
    border-radius: 5px;
    border-color: blanchedalmond;
}

.search--bar input:focus {
    outline: none;
    box-shadow: 0px 0px 5px 1px black;
}

.dropdown {
    justify-content: center;
    width: 50em;
    position: absolute;
    border-radius: 10px;
}

.search--box--course {
    width: 100%;
    background-color: white;
    border: 2px solid #e2e2e2;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
}

.container-fluid form {
    margin: 0px;
    display: flex;
    align-self: center;
}
.form-outline {
    width: 80%;
    border-radius: 5px 5px 0 0;
}

.social-tags {
    padding: 5px;
    display: flex;
}

footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    justify-content: center;

    box-shadow: 0px 0px 10px rgb(200, 200, 200);
    align-items: center;
}



@media only screen and (max-width: 800px) {
    

}